div.col-md-3(ng-show="showExtra")
  h3 Extra
    button.btn(type="submit", ng-click="close('e')") Close
  button.btn(ng-click="add()")
    span.glyphicon.glyphicon-plus
div.col-md-3(ng-show="showGroup")
  h3 Group
    button.btn(type="submit", ng-click="close('g')") Close
  button.btn(ng-click="view(tag)")
    span.glyphicon.glyphicon-zoom-in
  button.btn(ng-click="save(tag)")
    span.glyphicon.glyphicon-pencil
  button.btn(ng-click="remove(tag)")
    span.glyphicon.glyphicon-trash
div.col-md-3(ng-show="showLoad")
  h3 Load
    button.btn(type='button', ng-click="close('l')") Close
  button.btn(ng-click="alert('download')")
    span.glyphicon.glyphicon-download
  button.btn(ng-click="alert('upload')")
    span.glyphicon.glyphicon-upload
div.col-md-3(ng-show="showDebug")
  h3 Debug
    button.btn(type='button', ng-click="close('d')") Close
  button.btn(type='button', ng-click="addOne('aius')") AddOneAuis
  button.btn(type='button', ng-click="addOne('-')") AddOneTag
  button.btn(type='button', ng-click="removeLast()") RemoveLast
div.col-md-4(ng-show="showInputTag")
  h3 Tag input
    button.btn(type="submit" ng-click="close('it')" ng-show="inputTag.type!='aius'") Close
  form.form-horizontal(ng-model="inputTag")
    .control-group
      label.control-label(for="inputTagId") Id
      .controls
        input(type="text" id="inputTagId" placeholder="Id" ng-model="inputTag.id" disabled)
    .control-group
      label.control-label(for="inputTagUpDated") UpDated
      .controls
        input(type="text" id="inputTagUpDated" placeholder="UpDated" ng-model="inputTag.upDated" disabled)
    .control-group
      label.control-label(for="inputTagStatus") Status
      .controls
        select(id="inputTagStatus" ng-model="inputTag.status")
          option offline
          option online
    .control-group
      label.control-label(for="inputTagType") Type
      .controls
        select(id="inputTagType" ng-model="inputTag.type")
          option -
          option aius
    .control-group
      label.control-label(for="inputTagDesc") Desc
      .controls
        input(type="text", id="inputTagDesc", placeholder="Desc", ng-model="inputTag.desc", ng-disabled="inputTag.type=='aius'")
    .control-group
      label.control-label(for="inputTagDatail") Datail
      .controls
        input(type="text", id="inputTagDatail", placeholder="Datail", ng-model="inputTag.datail", ng-disabled="inputTag.type=='aius'")
    button.btn(type="submit", ng-click="save('it', [inputTag])" ng-show="inputTag.type!='aius'") Save
div.col-md-4(id="aiusDiv" ng-show="inputTag.type=='aius'")
  h3 aius
    button.btn(type="submit" ng-click="close('aius')") Close
  form(name="aiusForm" ng-submit="save([inputTag, aius])" novalidate)
    div.form-group(ng-class="{ 'has-error' : aiusForm.revision.$invalid && !aiusForm.revision.$pristine }")
      label Revision
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="revision" ng-model="aius.revision" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.revision.$invalid && !aiusForm.revision.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.systemLiquid.$invalid && !aiusForm.systemLiquid.$pristine }")
      label SystemLiquid
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="systemLiquid" ng-model="aius.systemLiquid" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.systemLiquid.$invalid && !aiusForm.systemLiquid.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.immunologyWash.$invalid && !aiusForm.immunologyWash.$pristine }")
      label ImmunologyWash
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="immunologyWash" ng-model="aius.immunologyWash" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.immunologyWash.$invalid && !aiusForm.immunologyWash.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.triggerA.$invalid && !aiusForm.triggerA.$pristine }")
      label TriggerA
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="triggerA" ng-model="aius.triggerA" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.triggerA.$invalid && !aiusForm.triggerA.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.triggerB.$invalid && !aiusForm.triggerB.$pristine }")
      label TriggerB
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="triggerB" ng-model="aius.triggerB" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.triggerB.$invalid && !aiusForm.triggerB.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.dsorb.$invalid && !aiusForm.dsorb.$pristine }")
      label Dsorb
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="dsorb" ng-model="aius.dsorb" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.dsorb.$invalid && !aiusForm.dsorb.$pristine") Must be in [1-9999] range.
    div.form-group(ng-class="{ 'has-error' : aiusForm.apSubstrate.$invalid && !aiusForm.apSubstrate.$pristine }")
      label apSubstrate
      div.input-group
        span.input-group-addon #
        input.form-control(type="number" name="apSubstrate" ng-model="aius.apSubstrate" min="1" max="9999" required)
      p.help-block(ng-show="aiusForm.apSubstrate.$invalid && !aiusForm.apSubstrate.$pristine") Must be in [1-9999] range.
    button.btn(type="submit" ng-disabled="aiusForm.$invalid") Submit
div.col-md-12(ng-show="showView")
  h3 View
    button.btn(type="submit", ng-click="close('v')") Close
  pre() {{viewTag | json}}
div.col-md-12(ng-show="showTable")
  h3 Table
  table.table.table-striped.table-condensed
    tr
      td ...
      td id
      td upDated
      td status
      td type
      td desc
      td datail
    tr(ng-repeat='tag in tags')
      td
        button.btn(ng-click="view(tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-zoom-in
        button.btn(ng-click="edit(tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-pencil
        button.btn(ng-click="delete(tag.id, tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-trash
      td {{tag.id}}
      td {{tag.upDated | date:'MM/dd/yyyy @ h:mma'}}
      td {{tag.status}}
      td {{tag.type}}
      td {{tag.desc}}
      td {{tag.datail}}
