div.col-md-3(ng-show="showExtra")
  h3 Extra
    button.btn(type="submit", ng-click="close('e')") Close
  button.btn(ng-click="add()")
    span.glyphicon.glyphicon-plus
div.col-md-3(ng-show="showGroup")
  h3 Group
    button.btn(type="submit", ng-click="close('g')") Close
  button.btn(ng-click="view(tag)")
    span.glyphicon.glyphicon-zoom-in
  button.btn(ng-click="save(tag)")
    span.glyphicon.glyphicon-pencil
  button.btn(ng-click="remove(tag)")
    span.glyphicon.glyphicon-trash
div.col-md-3(ng-show="showLoad")
  h3 Load
    button.btn(type='button', ng-click="close('l')") Close
  button.btn(ng-click="alert('download')")
    span.glyphicon.glyphicon-download
  button.btn(ng-click="alert('upload')")
    span.glyphicon.glyphicon-upload
div.col-md-3(ng-show="showDebug")
  h3 Debug
    button.btn(type='button', ng-click="close('d')") Close
  button.btn(type='button', ng-click="addOne()") AddOne
  button.btn(type='button', ng-click="removeLast()") RemoveLast
div.col-md-4(ng-show="showInputTag")
  h3 Tag input
    button.btn(type="submit" ng-click="close('it')") Close
  form.form-horizontal(ng-model="inputTag")
    .control-group
      label.control-label(for="inputTagId") Id
      .controls
        input(type="text" id="inputTagId" placeholder="Id" ng-model="inputTag.id" disabled)
    .control-group
      label.control-label(for="inputTagUpDated") UpDated
      .controls
        input(type="text" id="inputTagUpDated" placeholder="UpDated" ng-model="inputTag.upDated" disabled)
    .control-group
      label.control-label(for="inputTagStatus") Status
      .controls
        select(id="inputTagStatus" ng-model="inputTag.status")
          option offline
          option online
    .control-group
      label.control-label(for="inputTagType") Type
      .controls
        select(id="inputTagType" ng-model="inputTag.type")
          option -
          option aius
    .control-group
      label.control-label(for="inputTagDesc") Desc
      .controls
        input(type="text", id="inputTagDesc", placeholder="Desc", ng-model="inputTag.desc", ng-disabled="inputTag.type=='aius'")
    .control-group
      label.control-label(for="inputTagDatail") Datail
      .controls
        input(type="text", id="inputTagDatail", placeholder="Datail", ng-model="inputTag.datail", ng-disabled="inputTag.type=='aius'")
    button.btn(type="submit", ng-click="save('it', [inputTag])" ng-show="inputTag.type!='aius'") Save
div.col-md-4(ng-show="inputTag.type=='aius'")
  h3 Aius input
    button.btn(type="submit" ng-click="close('ia')") Close
  form.form-horizontal(ng-model="inputAius")
    .control-group
      label.control-label(for="inputAiusRevision") Revision
      .controls
        input(type="number" id="inputAiusRevision" placeholder="Revision" ng-model="inputAius.revision")
    button.btn(type="submit", ng-click="save('ia', [inputTag, inputAius])") Save
div.col-md-12(ng-show="showView")
  h3 View
    button.btn(type="submit", ng-click="close('v')") Close
  pre() {{viewTag | json}}
div.col-md-12(ng-show="showTable")
  h3 Table
  table.table.table-striped.table-condensed
    tr
      td ...
      td id
      td upDated
      td status
      td type
      td desc
      td datail
    tr(ng-repeat='tag in tags')
      td
        button.btn(ng-click="view(tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-zoom-in
        button.btn(ng-click="edit(tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-pencil
        button.btn(ng-click="delete(tag.id, tag)" ng-disabled="disableAll")
          span.glyphicon.glyphicon-trash
      td {{tag.id}}
      td {{tag.upDated | date:'MM/dd/yyyy @ h:mma'}}
      td {{tag.status}}
      td {{tag.type}}
      td {{tag.desc}}
      td {{tag.datail}}