.bordered {
  border-style: solid;
  // border-color: grey;
  border-color: #5E5E5E;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.centered {
	text-align: center;
}

.linked {
  color: #C32E1C;
  // color: #4393B9;
}

.focusR {
  background-color: red;
}

.focusG {
  background-color: green;
}

.focusB {
  background-color: blue;
}
